<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block title %}
    <title>Сервис для проверки документов</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
     <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('data_loader') }}">Загрузка данных в БД</a></li>
            <li><a href="{{ url_for('main') }}">Проверка ТЗ</a></li>
        </ul>
    </nav>
</body>
</html>

